<!doctype html>
<html>
<head>
<title>软件商店后台管理</title>
<link rel="shortcut icon" href="/os/public/favicon.ico" >  
<!--网站ico小图标-->
</head>
<frameset rows="156px,*" cols="*" row ="40%,*" noresize frameborder="0">
<frame src ="{:url('index/top')}" noresize frameborder="0">
<frameset cols ="260px,*" noresize frameborder="0">
<frame src ="{:url('index/left')}" noresize frameborder="0" >
<frame src= "{:url('index/right')}" name="myframe" frameborder="0">
</frameset>
</frameset>
<noframes>
</noframes>
</html>
<!--frame框架-->