<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/os/public/admin/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>网站后台导航</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!--Bootstrap css样式-->
    <link href="/os/public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!--导航适应样式-->
    <link href="/os/public/admin/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <!--导航样式-->
    <link href="/os/public/admin/css/demo.css" rel="stylesheet" />
    <!--底部火箭-->
    <link href="/os/public/admin/css/pe-icon-7-stroke.css" rel="stylesheet" />
	<!--图标-->
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/os/public/admin/img/sidebar-5.jpg">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    软件商店后台管理系统
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="{:url('index/news')}" target="myframe">
                        <i class="pe-7s-news-paper"></i>
                        <p>首页新闻管理</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/movieupdata')}" target="myframe">
                        <i class="pe-7s-film"></i>
                        <p>每日电影</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/windowsguanli')}" target="myframe">
                        <i class="pe-7s-tools"></i>
                        <p>Windows系统管理</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/windowsadd')}" target="myframe">
                        <i class="pe-7s-portfolio"></i>
                        <p>Windows系统添加</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/newwindows')}" target="myframe">
                        <i class="pe-7s-note2"></i>
                        <p>添加全新windows系列</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/soft')}" target="myframe">
                        <i class="pe-7s-display1"></i>
                        <p>软件管理平台</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/video')}" target="myframe">
                        <i class="pe-7s-video"></i>
                        <p>视频管理平台</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/softadd')}" target="myframe">
                        <i class="pe-7s-browser"></i>
                        <p>发布新的软件</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/indexicons')}" target="myframe">
                        <i class="pe-7s-science"></i>
                        <p>前台参考图标</p>
                    </a>
                </li>
                <li>
                    <a href="{:url('index/adminicons')}" target="myframe">
                        <i class="pe-7s-helm"></i>
                        <p>后台参考图标</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="{:url('index/right')}" target="myframe">
                        <i class="pe-7s-rocket"></i>
                        <p>管理首页</p>
                    </a>
                </li>
            </ul>
    	</div>
    <div class="sidebar-background" style="background-image: url(/os/public/admin/img/sidebar-5.jpg) "></div></div>
</div>
</body>
</html>
