<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/os/public/admin/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>网站基本信息</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="/os/public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="/os/public/admin/css/animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="/os/public/admin/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/os/public/admin/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="/os/public/admin/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/os/public/favicon.ico" >  
    <!--网站ico小图标-->
    <link rel="stylesheet" href="/os/public/index/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/os/public/index/css/icomoon.css">
    <!--图标样式-->
    <link rel="stylesheet" href="/os/public/index/css/bootstrap.css">  
    <!--重要样式-->
    <link href="/os/public/index/css/bootstraphead.css" rel="stylesheet" type="text/css" media="all" />
    <!--字体样式-->
    <link rel="stylesheet" href="/os/public/index/css/style.css">
    <!--重要样式-->

<link href="/os/public/index/css/bootstrapheader.css" rel="stylesheet" type="text/css" media="all">
<!--快捷访问样式-->
<link href="/os/public/index/css/styleheader.css" rel="stylesheet" type="text/css" media="all" />
<!--logo头部样式及重要样式-->

<style type="text/css">
    a:link, a:visited { color: #93c8ff; text-decoration: none;} 
    a:active, a:hover { color: yellow;}
</style>
    <link href="/os/public/index/css/zns_common.css" type="text/css" rel="stylesheet" />
</head>
<body class="beijing">
<form id="form1" name="form1" method="post">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div style="padding: 15px 15px 0;">
                        <h4 class="title">关于本网站：</h4>
                        <p class="category">在此填写关于网站的基本信息</p>
                    </div>
                   


                   <div id="fh5co-portfolio">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2><textarea name="title1" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:60px;">{$list9.title1}</textarea></h2>
                    <p><textarea name="introduce1" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:100px;width: 100%;">{$list9.introduce1}</textarea></p>
                </div>
                <input type="hidden" name="id" value="{$list9.id}">
            </div>
            <div class="row">
                
                <div class="project">
                    <div class="col-md-8 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                        <img class="img-responsive" src="{$list9.photo}" alt="work">
                    </div>
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInRight">
                        <div class="mt2">
                            <div>
                                <h4><i class="icon-user"></i>
                                <textarea name="title2" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:30px;">{$list9.title2}</textarea></h4>
                                <p><textarea name="introduce2" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:100px;width: 100%;">{$list9.introduce2}</textarea></p>
                            </div>
                            <div>
                                <h4><i class="icon-video2"></i>
                                <textarea name="title3" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:30px;">{$list9.title3}</textarea></h4>
                                <p><textarea name="introduce3" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:100px;width: 100%;">{$list9.introduce3}</textarea></p>
                            </div>
                            <div>
                                <h4><i class="icon-shield"></i>
                                <textarea name="title4" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:30px;">{$list9.title4}</textarea></h4>
                                <p><textarea name="introduce4" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:120px;width: 100%;">{$list9.introduce4}</textarea></p>
                            </div>
                            <input type="hidden" name="photo" value="{$list9.photo}">
                        </div>
                    </div>
                </div>  
            </div>
        </div>
                        <button type="submit" class="btn btn-info btn-fill pull-right">提交更新</button>
    </div>



                </div>
            </div>
        </div>
</form>
</body>
</html>
