<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/os/public/admin/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>网站基本信息</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="/os/public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="/os/public/admin/css/animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="/os/public/admin/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/os/public/admin/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="/os/public/admin/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/os/public/favicon.ico" >  
    <!--网站ico小图标-->
    <link rel="stylesheet" href="/os/public/index/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/os/public/index/css/icomoon.css">
    <!--图标样式-->
    <link rel="stylesheet" href="/os/public/index/css/bootstrap.css">  
    <!--重要样式-->
    <link href="/os/public/index/css/bootstraphead.css" rel="stylesheet" type="text/css" media="all" />
    <!--字体样式-->
    <link rel="stylesheet" href="/os/public/index/css/style.css">
    <!--重要样式-->

<link href="/os/public/index/css/bootstrapheader.css" rel="stylesheet" type="text/css" media="all">
<!--快捷访问样式-->
<link href="/os/public/index/css/styleheader.css" rel="stylesheet" type="text/css" media="all" />
<!--logo头部样式及重要样式-->

<style type="text/css">
    a:link, a:visited { color: #93c8ff; text-decoration: none;} 
    a:active, a:hover { color: yellow;}
</style>
    <link href="/os/public/index/css/zns_common.css" type="text/css" rel="stylesheet" />
</head>
<body class="beijing">
<form id="form1" name="form1" method="post">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div style="padding: 15px 15px 0;">
                        <h4 class="title">windows新闻：</h4>
                        <p class="category">修改windows新闻</p>
                    </div>
                   <div id="page">
<div id="fh5co-portfolio">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2><textarea name="title1" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:60px;">{$list8.title1}</textarea></h2>
				<p><textarea name="introduce1" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:110px;width: 100%;">{$list8.introduce1}</textarea></p>
				<input type="hidden" name="id" value="{$list8.id}">
			</div>
		</div>
			<div class="row">
				<div class="project">
					<div class="col-md-8 col-md-push-5 animate-box" data-animate-effect="fadeInLeft">
						<img class="img-responsive" src="{$list8.photo}" alt="work">
					</div>
					<div class="col-md-4 col-md-pull-8 animate-box" data-animate-effect="fadeInRight">
						<div class="mt">
							<h3>
							<textarea name="title2" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:100px;width: 100%;">{$list8.title2}</textarea>
							</h3>
							<p>
							<textarea name="introduce2" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:100px;width: 100%;">{$list8.introduce2}</textarea>
							</p>
							<ul class="list-nav">
								<li><i class="icon-check"></i>
									<textarea name="title3" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:30px;width: 100%;">{$list8.title3}</textarea>
								</li>
								<li><i class="icon-check"></i>
								<textarea name="title4" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:30px;width: 100%;">{$list8.title4}</textarea>
								</li>
								<li><i class="icon-check"></i>
								<textarea name="title5" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:30px;width: 100%;">{$list8.title5}</textarea>
								</li>
								<li><i class="icon-check"></i>
								<textarea name="title6" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:30px;width: 100%;">{$list8.title6}</textarea>
								</li>
								<li><i class="icon-check"></i>
								<textarea name="title7" style="background-image:url(/os/public/index/images/cardboard.jpg);border:1;height:30px;width: 100%;">{$list8.title7}</textarea>
								</li>
								<li><a href="" class="bianhua lianjie">继续了解...</a></li>
							</ul>
							<input type="hidden" name="photo" value="{$list8.photo}">
						</div>
					</div>
				</div>
			</div>
		</div>
						<button type="submit" class="btn btn-info btn-fill pull-right">提交更新</button>
	</div>
	 </div>
            </div>
        </div>
</form>
</body>
<!-- jQuery -->
    <script src="/os/public/index/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/os/public/index/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/os/public/index/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/os/public/index/js/jquery.waypoints.min.js"></script>
    <!-- countTo -->
    <script src="/os/public/index/js/jquery.countTo.js"></script>
    <!-- Magnific Popup -->
    <script src="/os/public/index/js/jquery.magnific-popup.min.js"></script>
    <script src="/os/public/index/js/magnific-popup-options.js"></script>
    <!-- Main -->
    <script src="/os/public/index/js/main.js"></script>
</html>
