<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>修改软件信息</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/os/public/favicon.ico" >
    <!--网站ico小图标-->
    <link href="/os/public/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap css样式  -->
    <link href="/os/public/admin/css/animate.min.css" rel="stylesheet"/>
    <!--  Light Bootstrap Table core CSS  -->
    <link href="/os/public/admin/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project -->
    <link href="/os/public/admin/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="/os/public/admin/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body class="beijing">
<form id="form1" name="form1" method="post" action="{:url('index/softphotoupdatainfointo')}?id={$list.id}">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">修改{$list.name}的图片3</h4>
                                <input type="hidden" name="frequency" value="{$list.frequency}">
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="hidden" name="name" value="{$list.name}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="hidden" name="type" value="{$list.type}">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="hidden" name="device" value="{$list.device}">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="hidden" name="environment" value="{$list.environment}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="hidden" name="filename" value="{$list.filename}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="hidden" name="sha" value="{$list.sha}">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="hidden" name="language" value="{$list.language}">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="hidden" name="size" value="{$list.size}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                        <input type="hidden" name="support" value="{$list.support}">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="hidden" name="uptime" value="{$list.uptime}">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="hidden" name="score" value="{$list.score}">
                                        </div>
                                    </div>

                                

                                </div>

                                    <div class="row"  align="center">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="hidden" name="photo" value="{$list.photo}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="hidden" name="photo1" value="{$list.photo1}"><!--图片隐藏域-->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="hidden" name="photo2" value="{$list.photo2}"><!--图片隐藏域-->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>软件封面：</label><br>
                                                <img src="{$a}" width="300" height="200"><br>
                                                修改软件封面<br>
                                                <input type="text" name="photo3" class="btn btn-info btn-fill" value="{$a}"><!--图片隐藏域-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="hidden" name="bendi" value="{$list.bendi}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="hidden" name="xunlei" value="{$list.xunlei}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="hidden" name="yunpan" value="{$list.yunpan}">
                                            </div>
                                        </div>
                                    </div>
                                    <div align="center">
                                    <button type="submit" class="btn btn-info btn-fill">确认更新</button>
                                    </div>
                                    <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
</body>
</html>
